
/* Main */
.header{
    height: 100%;
}
.main{
    margin: 0 auto;
    margin-top: 96px;
    display: flex;
    width: 100%;
    padding: 30px 0;
    height: 100%;
    align-items: center;
    flex-direction: column;
}

.main__top {
    width: 100%;
    margin: auto;
}
.main__top--center{
    width: 1200px;
    height: 420px;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.473);
    border-radius: 15px;
    color: #fceeff;
    margin: auto;
}
.mg-12{
    margin: 18px 0;
}
.bluer{
    color: #2076bd;
}
.main__top--center-info {
    width: 150px;
}
.main__top--center-1, .main__top--center-2, .main__top--center-3flex, .main__top--center-info{
    display: flex;
    justify-content: space-between;
}
.main__top--center p {
    font-size: 14px;
    font-weight: 300;
}
.main__top--center h2 {
    font-size: 36px;
}
.main__top--center-3 h2 > span {
    font-size: 16px;
    color: #2076bd;
}
.main__top--center-loading {
    width: 100%;
    height: 18px;
    background: #000;
    border-radius: 12px;
    border: #2076bd solid 1px;
    overflow: hidden;
}
.main__top--center-loading span {
    float: left;
    width: 1%;
    height: 100%;
    color: #ffffff;
    background-color: #2076bd;
    -webkit-transition: width 0.6s ease;
    transition: width 0.6s ease;
    border-radius: 12px;
    background-image: linear-gradient(45deg,rgba(255,255,255,0.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.15) 75%,transparent 75%,transparent);
    background-size: 40px 40px;
    animation: cargar 2s linear infinite;
}

@keyframes cargar {
    0% {
        background-position: 40px 0;
    }
    100% {
        background-position: 0 0;
    } 
}
/* buy */
.main__buy {
    width: 1200px;
    padding: 20px;
    margin: 10px auto;
    background-color: rgba(0, 0, 0, 0.473);
    text-align: center;
}
.main__buy i, .main__buy h4{
    margin-bottom: 25px;
    color: #fceeff;
}
.main__buy i {
    font-size: 42px;
    color: #2076bd;
}
.main__buy h4 a {
    color: #c7bb17;
}

/* buy */

/* Main */


/* Cajillas */
.main__bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    width: 1200px;
    color: #fceeff;
}

.main__bottom--left {
    position: relative;
    width: 580px;
    height: 480px;
    background-color: rgba(0, 0, 0, 0.473);
    border-radius: 8px;
    border: #2076bd solid 3px;
}

.caja-all{
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    border-top: 3px solid #2076bd;
}
.caja-all .left-mg {
    margin-left: 35px;
}
.caja-all .right-mg {
    margin-right: 35px;
}

.main__bottom--left-1 {
    float: left;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    border: none;
    border-radius: 15px;
}



/* Cajillas */

@media screen and (max-width:1230px) {
    .main__top--center, .main__buy {
        width: 95%;
        margin: 5px auto;
    }
    .main__bottom {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .main__bottom > div {
        width: 900px;
        margin: 8px auto;
    }
}
@media screen and (max-width:930px) {
    .main__bottom > div {
        width:  90%;
    }   
    .main__top--center h2{
        font-size: 28px;
    }
}

@media screen and (max-width:600px) {
    .main__buy i {
        font-size: 28px;
        margin-bottom: 10px ;
    }
    .main__buy h4 {
        font-size: 13px;
    }
    .main__bottom h4 {
        font-size: 15px;
    }
    .caja-all .left-mg {
        margin-left: 25px;
    }
    .caja-all .right-mg {
        margin-right: 25px;
    }
}

@media screen and (max-width:525px) {
    .main__top--center{ 
        height: 100%;
        padding: 20px;

    }
    .main__top--center h2{
        font-size: 22px;
    }

    .main__top--center p {
        font-size: 12px;
        font-weight: 300;
    }
    .main__top--center-3 h2 > span {
        font-size: 12px;
        color: #2076bd;
    }
    .main__top--center h4 {
        font-size: 15px;
    }
    .main__buy h4 {
        margin: 8px auto;
        font-size: 11px;
    }
    .main__top--center-info {
        width: 100px;
    }
    .main__bottom > div {
        height: 100%;
    }
    .caja-all{
        height: 60px;
    }
    .main__bottom {
        margin: 10px 0;
    }
    .main__bottom h4 {
        font-size: 12px;
    }
    .caja-all .left-mg {
        margin-left: 15px;
    }
    .caja-all .right-mg {
        margin-right: 15px;
    }
}
@media screen and (max-width:420px) {
    .caja-all{
        height: 40px;
    }
    .main__bottom {
        margin: 10px 0;
    }
    .main__bottom h4 {
        font-size: 10px;
    }
    .caja-all .left-mg {
        margin-left: 10px;
    }
    .caja-all .right-mg {
        margin-right: 10px;
    }
}

@media screen and (max-width:360px) {
    .main__top--center h2{
        font-size: 20px;
    }
    .main__top--center p {
        font-size: 10px;
        font-weight: 300;
    }
    .main__top--center-3 h2 > span {
        font-size: 10px;
        color: #2076bd;
    }
    .main__top--center h4 {
        font-size: 13px;
    }
    .main__buy h4 {
        margin: 8px auto;
        font-size: 10px;
    }

    
    .caja-all{
        height: 40px;
    }
    .main__bottom h4 {
        font-size: 9px;
    }
    .caja-all .left-mg {
        margin-left: 7px;
    }
    .caja-all .right-mg {
        margin-right: 7px;
    }
}