
/* MAIN */
.main {
    margin: 25px auto;
    margin-bottom: 70px;
    padding-top: 150px;
    display: flex;
    width: 85%;
    height: 100%;
    position: relative;
   
}
.main__container {
    width: 624px;
    margin: auto;
}
.main__container--text h1 {
    font-size: 54px;
    margin-bottom: 30px;
}
.main__container--text p{
    font-family: "Amaranth";
    font-size: 28px;
    color: #94c1e5;
    margin-bottom: 50px;
}
.main_container--scroll {
    display: flex;
    align-items: center;
}
.main_container--scroll a img {
    width: 30px;
}
.main_container--scroll a {
    font-size: 14px;
    margin: 0 4px;
}

/* MAIN */
/* HEADER */

/* SECTION 1 ( ABOUT 1) */

.about {
    width: 85%;
    margin: 100px auto;
    text-align: center;
    color: #cfcece;
}

.about__title {
    margin: 50px auto;
    width: 700px;
    
}
.about__title h2 {
    margin: 20px auto;
    margin-bottom: 40px;
    font-size: 42px;
    color: #ffffff;
}
.about__title p {
    font-size: 16px;
    width: 300;
    margin-bottom: 80px;
}

.about__cards {
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(3, minmax(280px, 380px));
    grid-template-rows: repeat(2, minmax(300px, 400px));
    grid-gap: 20px;
    margin: 0 auto;
}
.about__cards--card {
    position: relative;
    display: flex;
    margin: auto;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: #031525;
    border-radius: 10px;
    box-shadow:0 0 2px 5px 1px #2076bd;
    transition: 0.5s;
    overflow: hidden;
}
.about__cards--card h3 {
    font-size: 24px;
    color: #fff;
    margin-bottom: 15px;
}
.about__cards--card p {
    font-weight: 300;

}

.about__cards--card div > i {
    font-size: 64px;
    margin: 40px;
    color: #2076bd;
}
.about__cards--card::after {
    width: 100%;
    height: 5px;
    content: "";
    position: absolute;
    background-color: #2076bd;
    left: -100%;
    top: 0;
    transition: .3s;
}
.about__cards--card:hover {
    transform: translateY(-8px);
}
.about__cards--card:hover::after {
    left: 0;
}



/* Tokens */
.rkf {
    max-width: 80%;
    margin: 60px auto;
}
.rkf__info, .rkf__texto {
    max-width: 800px;
    margin: 20px auto;
    color: #ffffff;
}
.rkf__info h3, .rkf__texto h3 {
    color: #ffffff;
    font-size: 28px;
    margin-bottom: 25px;
}
.rkf__info h4 {
    font-size: 24px;
    margin: 20px auto;
}
.rkf__info h4 span {
    color: #b3b3b3;
}

.tokens {
    width: 80%;
    margin: 60px auto;
}

.tokens__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px auto;
    text-align: center;
}
.tokens__title > h2 {
    font-size: 42px;
    font-family: "open Sans";
    margin-bottom: 20px;
    color: #bebebe;
}
.tokens__title > p {
    max-width: 680px;
    font-size: 16px;
}
.tokens__content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.tokens__content--porcentajes h4 {
    margin: 10px auto;
    font-size: 18px;
    padding: 15px;
    color: #bebebe;
    border-left: 4px solid #10185B;
}
.tokens__content.segundo .tokens__content--porcentajes h4 {
    margin: 25px auto;
} 
.tokens-content--image {
    display: flex;
    align-items: center;
    justify-content: center;
}
.tokens__content--porcentajes .ttp-1 {
    border-left-color: #017667;
    
}
.tokens__content--porcentajes .ttp-2 {
    border-left-color: #2076bd;
    
}
.tokens__content--porcentajes .ttp-3 {
    border-left-color: #84DAFC;
   
}

.tokens__content--porcentajes .ttp-4 {
    border-left-color: #0084FF;

}
.tokens__content--porcentajes .ttp-5 {
    border-left-color: #1624A4;

}
/* Tokens */





/* ROADMAP  */

.roadmap {
    position: relative;
    width: 80%;
    margin: 80px auto;
}
.roadmap__title {
    font-size: 34px;
    color: #bebebe;
    margin: 60px auto;
    text-align: center;
}
.roadmap__cards {
    max-width: 750px;
    margin: auto;
}
.roadmap__card {
    display: flex;
    margin: 30px auto;
}
.roadmap__card h3 {
    font-size: 26px;
    color: #2076bd;
    margin-right:35px;
}
.roadmap__card--q > div {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    align-items: center;
}
.roadmap__card--q > div > div {
    width: 30px;
    height: 30px;
    border: 1px  #2076bd dashed;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}
.roadmap__card--q > div > p {
    font-size: 22px;
}
.roadmap__card--q > div > div > i {
    display: none;
    color: #2076bd;
}
#check i {
    display:initial;
}

#fondo {
    position: absolute;
    width: 500px;
    opacity: 0.15;
    left: 15px;
    top: 150px;
    transform: rotate(-40deg);
}
/* ROADMAP  */


@media screen and (max-width: 1220px) {
    .main__container--text h1{
        font-size: 42px;
    }
    .main__container--text p{
        font-size: 28px;
    }
    .main__ilustracion--img {
        width: 550px;
    }
}

@media screen and (max-width: 1080px) {
    .main__container--text h1{
        font-size: 38px;
        margin: 20px 0;
    }
    .main__container--text p{
        font-size: 24px;
        margin: 20px 0;
    }
    .main__ilustracion--img {
        width: 450px;
    }
    .about__cards {
        display: grid;
        grid-template-columns: repeat(2, minmax(320px, 500px));
        grid-template-rows: repeat(3, minmax(300px, 400px));
        margin: auto;
        grid-gap: 20px;
    }
}

@media screen and (max-width: 960px) {
    .rkf__info h3, .rkf__texto h3 {
        font-size: 24px;
        margin-bottom: 25px;
    }
    .rkf__info h4 {
        font-size: 20px;
        margin: 20px auto;
    }
}


@media screen and (max-width: 866px) {
    .main {
        height: 100vh;
        margin: 25px auto;
        padding: 0;
    }
    .main__container--text h1{
        font-size: 30px;
        margin: auto;
    }
    .main__container--text p{
        font-size: 18px;
        margin: 10px 0;
    }
    .main__ilustracion {
        margin: auto;
    }
    .main__ilustracion--img {
        margin: auto;
        width: 360px;
    }
    .main_container--scroll a img {
        width: 20px;
    }
    .main_container--scroll a {
        font-size: 12px;
        margin: 0 2px;
    }
    .tokens {
        width: 90%;
    }
    .tokens__title > h2 {
        font-size: 36px;
        margin-bottom: 30px;
    }
    .tokens__content--porcentajes h4 {
        font-size: 16px;
        padding: 12px;
    }
    .tokens-content--image img {
        width: 300px;
    }
    .roadmap {
        width: 90%;
    }
    .roadmap__cards {
        width: 100%;
    }
    #fondo {
        width: 400px;  
        left: 10px;
        transform: rotate(-40deg);
    }
}

@media screen and (max-width: 800px ) {
    .about {
        width: 95%;
        margin:auto;
    }
    .about__title {
        width: 90%;
        margin: 20px auto;
    }
    .about__title h2{
        font-size: 30px ;
        margin: 18px auto;
    }
    .about__title p {
        font-size: 18px;
        margin-bottom: 35px;
    }
    .about__cards {
        margin: auto;
        grid-template-columns: repeat(2, minmax(300px, 500px));
        grid-template-rows: repeat(3, minmax(260px, 360px));
    }
    .about__cards--card {
        padding: 15px;
    }
    .about__cards--card h3 {
        font-size: 22px;
        margin-bottom: 15px;
    }
    .about__cards--card p {
        font-size: 14px;
        font-weight: 300;
    }
    .roadmap__title {
        font-size: 28px;
    }
    .roadmap__cards {
        margin: auto;
    }
    .roadmap__card h3 {
        font-size: 21px;
        margin-right:35px;
    }
    .roadmap__card--q > div > div {
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }
    .roadmap__card--q > div > p {
        font-size: 17px;
    }
    #fondo {
        width:350px;  
        left: 10px;
        transform: rotate(-40deg);
    }
    .rkf {
        max-width: 90%;
    }
    
    .rkf__info h3, .rkf__texto h3 {
        width: 100%;
        font-size: 20px;
        margin-bottom: 25px;
    }
    .rkf__texto p {
        font-size: 15px;
    }
    .rkf__info h4 {
        font-size: 18px;
        margin: 18px auto;
    }
}

@media screen and (max-width: 650px) {
    .about__title h2{
        font-size: 27px ;
        margin: 18px auto;
    }
    .about__title p {
        font-size: 14px;
        margin-bottom: 35px;
    }
    .main__container--text h1{
        font-size: 24px;
    }
    .main__container--text p{
        font-size: 12px;
    }
    .main__ilustracion--img {
        width: 240px;
    }
    .about__title h2{
        font-size: 28px ;
        margin: 20px auto;
    }
    .about__title p {
        font-size: 13px;
        margin-bottom: 25px;
    }
    .about__cards {
        margin: auto;
        grid-template-columns: repeat(1, minmax(280px, 600px));
        grid-template-rows: repeat(6, minmax(260px, 340px));
    }
    .about__cards--card h3 {
        font-size: 20px;
        margin-bottom: 15px;
    }
    .about__cards--card p {
        font-size: 12px;
        font-weight: 300;
    
    }
    .tokens__content {
        flex-wrap: wrap;
    }
    .tokens__title > p {
        font-size: 14px;
    }
    .tokens__content--porcentajes {
        margin-bottom: 30px;
    }
    .tokens-content--image img {
        width: 280px;
    }


    .roadmap__title {
        font-size: 26px;
    }
    .roadmap__card {
        display: flex;
        flex-direction: column;
    }
    .roadmap__card--q {
        top: 15px;
        position: relative;
        left: 40px;
    }
    .roadmap__card h3 {
        font-size: 21px;
        margin-right:35px;
    }
    .roadmap__card--q > div > div {
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }
    .roadmap__card--q > div > p {
        font-size: 17px;
    }
    #fondo {
        width:280px;  
        left: 10px;
        transform: rotate(-40deg);
    }
    .rkf {
        max-width: 92%;
    }
    
    .rkf__info h3, .rkf__texto h3 {
        font-size: 18px;
        margin-bottom: 20px;
    }
    .rkf__texto p {
        font-size: 13px;
    }
    .rkf__info h4 {
        font-size: 15.5px;
        margin: 15px auto;
    }
}
@media screen and (max-width:550px) {
    .roadmap__title {
        font-size: 22px;
        margin: 0;
    }
    .roadmap__cards {
        width: 85%;
        margin: auto;
    }
    .roadmap__card--q {
        top: 15px;
        position: relative;
        left: 40px;
    }
    .roadmap__card h3 {
        font-size: 17px;
        margin-right:35px;
    }
    .roadmap__card--q > div > div {
        width: 22px;
        height: 22px;
        margin-right: 8px;
    }
    .roadmap__card--q > div > p {
        font-size: 13px;
    }
    .rkf__info h3, .rkf__texto h3 {
        font-size: 17px;
        margin-bottom: 20px;
    }
    .rkf__texto p {
        font-size: 13px;
    }
    .rkf__info h4 {
        font-size: 14px;
        margin: 15px auto;
    }
}

@media screen and (max-width: 480px) {
    .about {
        width: 85%;
        margin:auto;
    }
    .about__title p {
        font-size: 10px;
        margin-bottom: 25px;
    }
    .main__container--text h1{
        text-align: center;
        font-size: 26px;
    }
    .main__container--text p{
        font-size: 14px;
        text-align: center;
    }
    .main__ilustracion--img {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        margin: auto;
        width: 300px;
        z-index: -1;
        opacity: 0.6;
    }
    .main_container--scroll{
        display: none;
    }
    .tokens__title {
        margin-bottom: 12px;
    }
    .tokens__title > h2 {
        font-size: 26px;
        margin-bottom: 15px;
    }
    .tokens__title > p {
        font-size: 12px;
    }
    .tokens__content--porcentajes h4 {
        font-size: 14px;
        padding: 10px;
    }
    .tokens__distribution{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }

    .roadmap__cards {
        width: 90%;
        margin: auto;
    }
    .roadmap__card--q {
        top: 12px;
        position: relative;
        left: 35px;
    }
    .roadmap__card h3 {
        font-size: 16px;
        margin-right:35px;
    }
    .roadmap__card--q > div > div {
        width: 20px;
        height: 20px;
        margin-right: 5px;
    }
    .roadmap__card--q > div > p {
        font-size: 12px;
    }
    .rkf__info h3, .rkf__texto h3 {
        font-size: 15px;
        margin-bottom: 15px;
    }
    .rkf__texto p {
        font-size: 10px;
    }
    .rkf__info h4 {
        font-size: 10.9px;
        margin: 15px auto;
    }
}
@media screen and (max-width: 380px) {
    .main__container--text h1{
        text-align: center;
        font-size: 24px;
    }
    .main__container--text p{
        font-size: 12px;
        text-align: center;
    }
    .main__ilustracion--img {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        margin: auto;
        width: 280px;
        z-index: -1;
        opacity: 0.6;
    }
    .roadmap__cards {
        width: 95%;
        margin: auto;
    }
    .roadmap__card--q {
        top: 12px;
        position: relative;
        left: 15px;
    }
    .roadmap__card h3 {
        font-size: 15px;
    }
    .roadmap__card--q > div > div {
        width: 20px;
        height: 20px;
        margin-right: 5px;
    }
    .roadmap__card--q > div > p {
        font-size: 11px;
    }
    .rkf__info h4 {
        font-size: 9px;
        margin: 10px auto;
    }
}